@model IEnumerable<appMiniproyecto.Data.Entities.Competencia>

@{
    ViewData["Title"] = "Index";
}

<h1>Competencias</h1>

<p>
    <a asp-action="Create">Crear nueva</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Competencia_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Competencia_Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Competencia_Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Competencia_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Competencia_Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Competencia_Tipo)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Competencia_Id }) 
                @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                @*@Html.ActionLink("Delete", "Delete", new { id=item.Competencia_Id })*@
            </td>
        </tr>
}
    </tbody>
</table>
